<h1>Editing Student Learning Outcome</h1>

<%= render 'form', student_learning_outcome: @student_learning_outcome %>

<%= link_to 'Show', @student_learning_outcome %> |
<%= link_to 'Back', student_learning_outcomes_path %>
